#Node modules
node_modules/

#Env
.env

#DataBase Schema
# models

#Player data
seed

curl

#controller
controllers/fc2.js

#routes
routes/fc3.js

#Otp limiter
middleware/otpRateLimit.js
# the-crores-club/backend/middleware/otpRateLimit.js